<header>
    <h1 id="header"><a href="/">Coders Revelations</a></h1>
    <% if(locals.user){ %>
        <p><a href="/users/<%= locals.user.email %>"><%= locals.user.name %></a></p>
        <p><a href="/users/destroy-session">Log Out</a></p>
    <% } else {%>
        <p><a href="/users/sign-up">Sign Up</a></p>
        <p><a href="/users/sign-in">Sign In</a></p>
    <% } %>
</header>